@import '../../styles/colors.scss';

.switch {
  --handle-width: 30px;
  --transition-duration: 250ms;
  --handle-transition: all var(--transition-duration) ease-in-out;

  @media (prefers-reduced-motion: reduce) {
    --transition-duration: 0ms;
  }

  display: flex;
  align-items: center;
  gap: 8px;
  background-color: transparent;
  cursor: pointer;
  position: relative;

  &__checkbox {
    visibility: hidden;
    position: absolute;
    top: -50%;
    left: -50%;
  }

  &__handle {
    display: inline-block;
    box-sizing: border-box;
    position: relative;
    width: calc(2 * var(--handle-width));
    height: var(--handle-width);
    border-radius: var(--handle-width);
    background-color: var(--primary-color);
    border: 1px solid var(--primary-color-border);
    transition: var(--handle-transition);
  }

  &__handle::after {
    z-index: 3;
    content: '';
    position: absolute;
    --offset: 2px;
    top: var(--offset);
    left: var(--offset);
    height: calc(var(--handle-width) - 3 * var(--offset));
    width: calc(var(--handle-width) - 2 * var(--offset));
    border-radius: 50%;
    background-color: var(--primary-disabled-color);
    transition: var(--handle-transition);
  }

  &__checkbox:checked + &__handle {
    background-color: var(--tertiary-color);
    border-color: var(--tertiary-border-color);
  }

  &__checkbox:checked ~ &__handle::after {
    left: var(--handle-width);
    background-color: var(--tertiary-disabled-color);
  }
}
